body{
    font-size: 18px;
    margin: 0;
}
header{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    background-image: url('https://github.com/RafaelLozano/Sunnyside-agency-landing-page/blob/main/src/images/desktop/image-header.jpg?raw=true');
    background-repeat: no-repeat;
    background-position: 0% 75%;
    background-size: cover;
    height: 500px;
}
nav a{
    color:hsl(0, 0%, 100%);
    text-decoration: none;
    margin: 0 15px;
}
.a__button{
    background-color: hsl(0, 0%, 100%);
    color: hsl(212, 27%, 19%);
    padding: 10px 20px;
    border-radius: 20PX;
    font-weight: bold;
}
.a__button:hover{
    color:hsl(0, 0%, 100%) ;
    background-color: hsla(0, 0%, 100%, 0.20) ;
}
h1{
    font-family: Fraunces;
    font-size: 60px;
    letter-spacing: 10px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    margin-top: 60px;
    text-align: center;
}
h2{
    font-family: Fraunces;
    font-weight: 900;
    font-size: 50px;
}
h3{
    font-family: Fraunces;
    font-weight: 900;
    font-size: 30px;

}
.menu__container{
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;
}
.card{
    display: flex;
    width: 100%;
    margin: 0;
}
.card__info{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card__image{
    width: 50%;
}
.card__container{
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    width: 50%;
}
.card__container--Photography{
    width: 50%;
    height: 500px;
    background-image: url('https://github.com/RafaelLozano/Sunnyside-agency-landing-page/blob/main/src/images/desktop/image-photography.jpg?raw=true');
}
.card__info div p{
    line-height: 2;
    color: hsl(210, 4%, 67%);

}
.card__img--4x{
    width: 25%;
}
.card__img--back{
    z-index: -1;
  
}
.card__info--float{
    display: flex;
    height: 100%;
    width: 30%;
    flex-direction: column;
    justify-content: flex-end;
    align-items:center ;
    position: absolute;
    padding-bottom: 150px;
    
}
.card__info--float p{
    line-height: 1.5;

}
footer{
    margin: 0px;
    padding: 0px;
    background-color: hsl(168, 34%, 41%);
    height: 500px;
}